@use '../base/colors' as colors;

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-ubuntu: 'Ubuntu', sans-serif;

$base-font-size: 16;
$base-mobile-width: 420px;
$base-tablet-width: 768px;
$base-desktop-width: 1220px;

$base-border-radius: 3px;

$base-gradient-background: linear-gradient(
  270deg,
  #ecbcb3 0%,
  colors.$color-primary-light 100%
);

$base-box-shadow: 0px 15px 20px 0px rgba(234, 168, 159, 0.2);
$base-box-shadow-2: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
