@use '../base/colors' as colors;
@use '../abstracts/variables' as variables;
@use '../abstracts/utils' as utils;
@use '../abstracts/mixins' as *;

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(colors.$color-black, 0.5);
  color: colors.$color-text;

  @include mobile() {
    top: 80px;
    overflow: hidden;
    background-color: transparent;
    align-items: flex-end;
  }
}

.modal-content {
  background-color: colors.$color-white !important;
  border-radius: variables.$base-border-radius;
  opacity: 100%;
  width: 440px;

  padding: 20px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);

  @include mobile() {
    height: calc(100dvh - 80px);
    border-radius: 0px;
  }
}
.modal-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-height: 10px;
  margin: 0px 8px;

  @include mobile() {
    display: none;
  }
}

// TODO | Typography
.modal-title {
  font-size: utils.pxToRem(20);
  font-weight: 500;
  line-height: utils.pxToRem(20);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}
