$color-white: #ffffff;
$color-grey: #828282;
$color-black: #000000;

$color-primary: #df9186;
$color-primary-light: #eaa79e;

$color-text: #334144;
$color-text-lighten-1: #949ea0;

$color-warning: #f4bd50;
$color-error: #f45050;
