@use '../abstracts/utils' as utils;
@use '../base/colors' as colors;
@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

// TODO | Set fallback fonts
html,
body {
  font-family: variables.$font-family-ubuntu;
}

nav {
  font-family: variables.$font-family-montserrat;
  font-weight: 300;
}

// navigation li, base button
.text-1 {
  font-family: variables.$font-family-montserrat;
  font-size: utils.pxToRem(14);
  font-style: normal;
  font-weight: 500;
  line-height: utils.pxToRem(14);
}

.text-caption {
  font-family: variables.$font-family-ubuntu;
  font-size: utils.pxToRem(13);
  font-style: normal;
  font-weight: 400;
  line-height: utils.pxToRem(13);
}
