@use '../abstracts/utils' as utils;
@use '../base/colors' as colors;
@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

// TODO | Set fallback fonts
html,
body {
  font-family: variables.$font-family-ubuntu;
}

nav {
  font-family: variables.$font-family-montserrat;
  font-weight: 300;
}
