@use '../base/colors' as colors;
@use '../abstracts/utils' as utils;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as variables;

.appbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  justify-content: space-between;

  padding: 20px 20px 20px 23px;

  @include tablet {
    box-shadow: variables.$base-box-shadow-2;
    padding: 25px 28px 25px 21px;
  }
  @include mobile() {
    z-index: -1;
  }
}
