@use '../base/colors' as colors;
@use '../abstracts/utils' as utils;
@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as *;

.desktop-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  width: 606px;
  // Note | Design is a bit scuffed here, not sure which gap to use,
  // seems srot to set paddings to each link instead of using gap
  gap: 30px;
  @include tablet {
    display: none;
  }
}

.mobile-navigation {
  display: none;
  font-family: variables.$font-family-ubuntu;
  font-weight: 500;
  position: absolute;
  background-color: colors.$color-white !important;
  width: 100%;
  height: 100%;
  gap: 50px;
  padding: 30px;
  z-index: 1;

  @include tablet() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.desktop-navigation,
.mobile-navigation {
  li {
    color: colors.$color-text-lighten-1;
    font-size: utils.pxToRem(14);
    font-weight: 500;
    line-height: utils.pxToRem(14); /* 100% */
  }
}

.navigation-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 30px;
}
.navigation-logo-title {
  color: colors.$color-primary-light;
  font-size: utils.pxToRem(20);
  font-weight: 700;
  line-height: utils.pxToRem(14);
}

.navigation-button {
  border-radius: 50px;
  background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
  box-shadow: 0px 15px 20px 0px rgba(234, 168, 159, 0.2);

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 40px;
    color: colors.$color-white;
  }
}

.navigation-hamburger {
  display: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  @include mobile {
    display: block;
  }
  @include tablet {
    display: block;
  }
}
