@use '/styles/base/_colors.scss' as colors;

@forward '../styles/vendors/_reset.scss';

@forward '../styles/base/_colors.scss';
@forward '../styles/base/_typography.scss';

@forward './layouts';
@forward './pages';
@forward './components';

// Global Styles
.text-primary {
  color: colors.$color-primary;
}
.text-primary-light {
  color: colors.$color-primary-light;
}
.text-text {
  color: colors.$color-text;
}
